/*!
 * Pico.css v1.0.1 (https://picocss.com)
 * Copyright 2019 - Licensed under MIT
 *
 * Slim version example
 * You can export only the modules you need
 */


// Config
// --------------------

// Enable responsive spacings for <header>, <main>, <footer>, <section>, <article>
$enable-responsive-spacings: false;

// Enable validation states for <input>
$enable-input-states: false;

// Enable transitions for <a>, <button>, <input>, <details>
$enable-transitions: false;


// Pico Lib
// --------------------

// Config
@import "variables";

// Theming
@import "themes/default";

// Layout
@import "layout/document";                // html
@import "layout/sectioning";              // body, header, main, footer
@import "layout/container";               // .container, .container-fluid
// @import "layout/section";              // section
@import "layout/grid";                    // .grid
@import "layout/scroller";                // figure

// Content
@import "content/typography";             // a, headings, p, ul, blockquote ...
@import "content/form";                   // label, input, select, ...
@import "content/form-checkbox-radio";    // type=checkbox, type=radio, role=switch
@import "content/button";                 // button, a[role=button], ...
// @import "content/button-styles";       // .secondary, .contrast, .outline
@import "content/table";                  // table, tr, td, ...
// @import "content/code";                // pre, code, ...
// @import "content/miscs";               // hr, progress, template, [hidden]

// Components
// @import "components/accordion";        // details, summary
// @import "components/card";             // article
// @import "components/card-sectioning";  // article > header, footer, pre
// @import "components/nav";              // nav
// @import "components/tooltip";          // data-tooltip
